pip
bump2version
wheel
watchdog
flake8
Sphinx
twine
{% if cookiecutter.command_line_interface|lower == 'click' -%}Click==7.0{% endif %}
pytest
pytest-cov
black
mypy
isort
pre-commit
ipython
pandoc
sphinx_rtd_theme